.header, .hero.is-primary, .navbar-link.is-active, .hero.is-primary .navbar-link:hover, .hero.is-primary a.navbar-item.is-active, .hero.is-primary a.navbar-item:hover  {
  background-color: #336699;
  color: white;
}
figure {
  display: inline-block;
  float: right;
  width: 400px;
  text-align: center;
  border: 1px dotted gray;
  margin: 5px; /* adjust as needed */
}
figure img {
  vertical-align: top;
}
figure figcaption {
  font-style: italic;
}
